@import './auth.less';
@import './variables.less';


html,
body,
#root {
  width: 100%; 
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: @content-bg;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

// =========================
// SCROLLBAR
// =========================

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 10px;
}

// =========================
// ANT DESIGN
// =========================

.ant-btn {
  border-radius: 10px;
}

.ant-btn-primary {
  background: @primary-color;
  border-color: @primary-color;

  &:hover,
  &:focus {
    background: @primary-hover !important;
    border-color: @primary-hover !important;
  }
}

/* INPUT */

.ant-input {
  height: 44px !important;
  line-height: 44px !important;
}

/* PASSWORD */

.ant-input-affix-wrapper {
  height: 44px !important;
  padding: 0 12px !important;

  display: flex !important;
  align-items: center !important;
}

.ant-input-affix-wrapper .ant-input {
  height: auto !important;
  line-height: normal !important;

  padding: 0 !important;
}

/* =========================
   FORM CONTROLS
========================= */

.ant-input,
.ant-input-password,
.ant-input-affix-wrapper,
.ant-picker,
.ant-select-selector {
  border-radius: 10px !important;
}

.ant-input,
.ant-input-affix-wrapper {
  min-height: 44px !important;
}

.ant-input-affix-wrapper .ant-input {
  height: auto !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.ant-input-affix-wrapper-focused,
.ant-input:focus,
.ant-input-focused {
  box-shadow: none !important;
}

.ant-select-selector {
  min-height: 44px !important;

  display: flex !important;
  align-items: center !important;
}

.ant-select-selection-item,
.ant-select-selection-placeholder {
  line-height: 42px !important;
}

.ant-table-wrapper {
  .ant-table {
    border-radius: 0;
    overflow: hidden;
  }

  .ant-table-thead > tr > th {
    background: #fff7f4;
    font-weight: 600;
  }
}

.ant-modal-content {
  border-radius: 18px;
}

.ant-modal-header {
  border-bottom: none;
}

.ant-modal-title {
  font-size: 22px;
  font-weight: 700;
}