# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Chroma Vector DB
db/
chroma_db/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# HuggingFace cache (nếu lưu trong project)
.cache/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Build
dist/
build/

# SQLite
*.sqlite3
*.db

data/